<!doctype html>
<html xmlns:th="http://www.thymleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register Page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<h1>Üyelik Sayfası</h1>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form action="doregister" method="post">
        <div class="mb-3">
          <label class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" placeholder="name@example.com" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Kullanıcı Adı</label>
          <input type="text" name="username"  class="form-control" placeholder="Bir kullanıcı adı giriniz" required>
        </div>
        <div class="mb-3">
          <label class="form-label">Şifre</label>
          <input type="password" name="password" class="form-control" placeholder="Şifre giriniz">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success">Üye OL</button>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>